# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Media / files
media/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VirtualEnv
.venv/


# ReactAPP

# dependencies
app/node_modules
app/.pnp
app/.pnp.js

# testing
app/coverage

# production
app/build

app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*